<div class="row">
    <div class="span6 col-lg-6 col-md-offset-3">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'title_user_change_password'|trans({}, 'SonataUserBundle') }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ path('sonata_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password form-horizontal">
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-danger pull-right"><i class="icon-lock icon-white glyphicon glyphicon-lock"></i>&nbsp;{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}</button>
                </form>
            </div>
        </div>
    </div>
</div>